@font-face {
  font-family: 'electronic';
  src: url("./assets/electronic_highway_sign/sdf.TTF");
}

@font-face {
  font-family: 'abz';
  src: url("./assets/ABeeZee-Regular.ttf"), format("truetype");
}